body {
  background-color: #70381f;
}
/*preloader*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #70381F transparent #EDD1C5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden{
  overflow: hidden;
}

.centrado{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
/*preloader end*/

/*navbar*/
#navbar {
  background-color: #70381f;
}

#logo {
  border-radius: 10px;
  width: 60px;
}

#logoCafe {
  border-radius: 50px;
  border: #000000 solid;
  height: 50px;
  background-color: #edd1c5;
}

#titulo {
  height: 45px;
  background-color: 70381f;
}
@media only screen and (max-width: 1116px) {
  #titulo {
      display: none;
  }
}

.navbar-brand {
  padding-left: 15px;
}

.nav-item {
  margin-left: 10px;
  text-align: center;
  background-color: #edd1c5;
  border-radius: 50px;
  border: #000000 solid 1px;
}

.nav-item:hover {
  color: #000000;
  background: #ffffff;
  margin-left: 10px;
}

.navbar-toggler {
  background-color: #edd1c5;
}
/*navbar end*/

li:hover {
  background-color: #70381f;
}

.tituloSec2 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: #70381f;
  background-color: #ffe9e0;
  justify-content: left;
}

.textoQuienesSomos {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  margin-top: 2%;
  margin-left: 5%;
  color: #edd1c5;
  text-align: justify;
  line-height: 30px;
}

.imagenBar {
  display: flex;
  justify-content: center;
  margin: 10% 5%;
}

.bordeImagen{
  border: 10px solid #ffe9e0;
}
