.card {
    width: 18rem;
    text-align: center;
}

.container {
    width: 750px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(31, 31, 31, .1);
    
    display: flex;
    margin: auto;
    margin-top: 100px;
}

.card {
    align-items: center;
}

#carrito {
    border: 2px solid black;
    align-items: center;
    width: 140px;
}

#carrito button {
    border: 1px solid black;
}

.contenedorLista {
    display: flex;
}

.labelList {
    align-content: flex-start;
}