body {
  background-color: #ffe9e0;
  background: rgb(255, 233, 224);
  background: linear-gradient(
    180deg,
    rgba(255, 233, 224, 1) 2%,
    rgba(112, 56, 31, 1) 54%
  );
}

/*preloader*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #70381F transparent #EDD1C5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden{
  overflow: hidden;
}

.centrado{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
/*preloader end*/

/*navbar start*/
nav {
  background-color: #70381f;
}
/*navbar*/
#navbar {
  background-color: #70381f;
}
#logo {
  border-radius: 10px;
  width: 60px;
}

#logoCafe {
  height: 55px;
}
@media only screen and (max-width: 1116px) {
  #titulo {
    display: none;
  }
}

.navbar-brand {
  padding-left: 15px;
}

#titulo {
  height: 45px;
}

ul {
  margin-right: 10px;
}

li {
  padding: 0 5px;
  margin: 10px;
  border-radius: 50px;
  border: #000000 solid 1px;
  text-align: center;
  background-color: #edd1c5;
}

.nav-item {
  margin-left: 10px;
  text-align: center;
  background-color: #edd1c5;
  border-radius: 50px;
  border: #000000 solid 1px;
}

.nav-item:hover {
  color: #000000;
  background: #ffffff;
  margin-left: 10px;
}

.navbar-toggler {
  background-color: #edd1c5;
}
/*navbar end*/

li:hover {
  background-color: #70381f;
}

.cafeFondo {
  display: flex;
  justify-content: end;
}

.tituloSec2 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: #70381f;
  background-color: #ffe9e0;
}

.tituloSec3 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 36pt;
  font-weight: bold;
  color: #edd1c5;
  background-color: #70381f;
}

.tituloSec4 {
  font-family: "Cascadia Mono", sans-serif;
  text-align: center;
  font-size: 36pt;
  font-weight: bold;
  color: #70381f;
  padding-top: 10px;
  padding-left: 20px;
}

.container-sm {
  margin-top: 100px;
  height: 700px;
  width: 700px;
}
img {
  border-radius: 25% 10%;
}
h5 {
  font-size: 30px;
}
p {
  font-size: 25px;
}

.contactar {
  background-color: #edd1c5;
  text-align: center;
}
h3 {
  font-family: "Cascadia Mono", sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: #70381f;
  padding-top: 10px;
  padding-left: 20px;
}
.btn {
  font-family: "Cascadia Mono", sans-serif;
  color: #ffe9e0;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 0px 1px 3px #666666;
  background: #70381f;
}
.btn:hover {
  background: #a87f41;
}

.contenedorPdf{
  padding-top: 30px;
  text-align: center;
}

.pdf{
  font-size: 20px;
  padding: 20px;
  color: #70381f;
  border-radius: 10px;
  background-color: #edd1c5;
  text-decoration: none;
}

.col3 {
  width: 400px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 5%;
}
iframe{
  margin-top: 30px;
}
#datos{
  font-family: "Cascadia Mono", sans-serif;
  font-size: 15px;
  margin-top: 40px;
  color: #70381f;
}
.row2{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;

}
.elemento {
  margin: 1px;
}
i{
  color: #70381f;
}

.warning{
  width: 300px;
  text-align: center;
  margin: auto;
  color: #000000;
  padding-top: 10px;
}